echo "# Morph-Redesign" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Saiant03/Morph-Redesign.git
git push -u origin main
